Stakeholder Analysis - Workflow.blueprint.json
{
    "name": "Stakeholder Analysis - Workflow",
    "flow": [
        {
            "id": 1,
            "module": "google-docs:getADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6428615
            },
            "mapper": {
                "filter": "image",
                "select": "dropdown",
                "document": "/1wjy_gg6hkb0JKoN1Sg38EfG77n_Jcjs3/1oeO1z7Th35kUsu_8h658l2luBmJ1QwGQRG8FW7Jdek0",
                "destination": "drive",
                "includeTabsContent": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Project Charter"
                },
                "restore": {
                    "expect": {
                        "filter": {
                            "label": "Image"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "document": {
                            "path": [
                                "AI BA Training",
                                "Project Charter: Human Resources Onboarding Process Automation"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (saravmaniam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get Content of a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "includeTabsContent",
                        "type": "boolean",
                        "label": "Include Tabs Content",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image",
                                "drawing",
                                "chart"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-docs:getADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6428615
            },
            "filter": null,
            "mapper": {
                "filter": "image",
                "select": "dropdown",
                "document": "/1wjy_gg6hkb0JKoN1Sg38EfG77n_Jcjs3/1-AgX1rgmATTdaNrczzk6gi8KRKuAjZoMSxVtm_mgiXQ",
                "destination": "drive",
                "includeTabsContent": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Org Chart"
                },
                "restore": {
                    "expect": {
                        "filter": {
                            "label": "Image"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "document": {
                            "path": [
                                "AI BA Training",
                                "MASS GAS — ORGANIZATIONAL CHART"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (saravmaniam@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get Content of a Document",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "includeTabsContent",
                        "type": "boolean",
                        "label": "Include Tabs Content",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "select",
                        "label": "Filter",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image",
                                "drawing",
                                "chart"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "openai-gpt-3:createModelResponse",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6411982
            },
            "filter": null,
            "mapper": {
                "input": "ROLE\r\n\r\nYou are an experienced Senior Business Analyst and Stakeholder Management Specialist.\r\n\r\nYour job is to review a Project Charter and Organization Chart and produce a comprehensive Stakeholder Register for the project.\r\n\r\nYou are skilled at:\r\n\r\nidentifying both explicit and implicit stakeholders\r\ndistinguishing project stakeholders from general organizational participants\r\nassessing stakeholder relevance, power, interest, influence, authority, and likely engagement needs\r\ntranslating organizational structure into practical responsibility assignments\r\napplying RACI thinking to clarify delivery and decision roles\r\n\r\nYou are analytical, precise, and conservative.\r\nDo not invent stakeholders without a reasonable basis in the provided materials.\r\nHowever, if a stakeholder is clearly implied by the project scope, governance, dependencies, risks, compliance needs, technology needs, or operational impact, you may include them and mark the basis as Inferred from project context.\r\n\r\nINPUT\r\n\r\nYou will receive:\r\n\r\n1. PROJECT_CHARTER\r\n\n{{1.body.content}}\r\n\n2. ORGANIZATION_CHART\r\n\r\n{{7.body.content}}\r\n\nTASK\r\n\r\nUsing the materials above, identify the stakeholders relevant to the project and produce a structured Stakeholder Register.\r\n\r\nThe Stakeholder Register must:\r\n\r\nIdentify all stakeholders directly relevant to project success, governance, execution, adoption, compliance, support, or impact.\r\nInclude both named stakeholders and role-based stakeholders where appropriate.\r\nAssess each stakeholder’s:\r\nrelationship to the project\r\nlevel of interest\r\nlevel of influence\r\nlevel of formal authority\r\nlikely expectations or concerns\r\nengagement strategy\r\nInclude RACI elements for each stakeholder relative to the project.\r\nClearly distinguish between:\r\nstakeholders with decision-making power\r\nstakeholders with strong influence but limited formal authority\r\nstakeholders affected by the project but not shaping it directly\r\nBe especially thorough in assessing influence and authority, using the charter and org chart as the primary evidence.\r\nOUTPUT\r\n\r\nReturn HTML only.\r\n\r\nDo not return markdown.\r\nDo not return JSON.\r\nDo not include code fences.\r\nDo not include explanatory text before or after the HTML.\r\n\r\nThe HTML should be designed to render well in a Google Doc created from HTML.\r\nUse clean, simple HTML with clear document structure and a formatted table.\r\n\r\nRequired HTML structure\r\n\r\nYour output must include:\r\n\r\nAn <h1> title:\r\nStakeholder Register\r\nA short notes section with:\r\n<h2>Stakeholder Analysis Notes</h2>\r\n1 to 4 short paragraphs explaining:\r\nhow stakeholders were identified\r\nimportant assumptions\r\nany inferred stakeholders included\r\nany limitations in the source materials\r\nA formatted HTML table with:\r\na header row using <th> cells\r\none row per stakeholder using <tr> and <td>\r\nclear, readable text in each cell\r\nRequired table columns, in this order\r\nStakeholder Name / Role\r\nDepartment / Function\r\nStakeholder Type\r\nWhy They Matter to the Project\r\nInterest Level\r\nInfluence Level\r\nFormal Authority Level\r\nRACI Role\r\nKey Expectations / Concerns\r\nEngagement Strategy\r\nBasis\r\nFormatting requirements\r\nUse <strong> inside the notes section where helpful\r\nUse <table border=\"1\" cellspacing=\"0\" cellpadding=\"6\">\r\nUse bold table headers with <th>\r\nKeep styling simple and inline only if needed\r\nDo not use CSS classes\r\nDo not use <style> blocks unless absolutely necessary\r\nDo not use complicated nested tables\r\nDo not use emojis or decorative symbols\r\nCOLUMN DEFINITIONS\r\nStakeholder Name / Role\r\nUse the specific person’s name if provided and relevant\r\nOtherwise use role title\r\nIf both are useful, include both\r\nDepartment / Function\r\nBusiness unit, team, or functional area\r\nStakeholder Type\r\n\r\nUse one of:\r\n\r\nExecutive Sponsor\r\nBusiness Owner\r\nProject Governance\r\nDelivery / Execution\r\nTechnical / Architecture\r\nRisk / Compliance / Legal\r\nOperations / Support\r\nEnd User / Impacted Group\r\nVendor / External Partner\r\nOther\r\nWhy They Matter to the Project\r\n1 to 2 concise sentences\r\nExplain their project relevance, not their general job\r\nInterest Level\r\n\r\nUse one of:\r\n\r\nHigh\r\nMedium\r\nLow\r\nInfluence Level\r\n\r\nUse one of:\r\n\r\nHigh\r\nMedium\r\nLow\r\n\r\nThis should reflect practical ability to shape outcomes, including informal influence.\r\n\r\nFormal Authority Level\r\n\r\nUse one of:\r\n\r\nHigh\r\nMedium\r\nLow\r\n\r\nThis should reflect official decision rights, budget authority, approval authority, governance authority, or organizational control.\r\n\r\nRACI Role\r\n\r\nUse one or more of:\r\n\r\nR\r\nA\r\nC\r\nI\r\n\r\nApply carefully:\r\n\r\nResponsible = does the work\r\nAccountable = owns the outcome / signs off\r\nConsulted = provides required input\r\nInformed = kept updated\r\nKey Expectations / Concerns\r\nWhat they are likely to care about, protect, resist, or expect\r\nEngagement Strategy\r\nHow the project team should manage this stakeholder\r\nExample categories:\r\nManage closely\r\nInvolve in decisions\r\nConsult regularly\r\nKeep informed\r\nMonitor lightly\r\nBasis\r\n\r\nUse one of:\r\n\r\nExplicitly stated in charter\r\nExplicitly stated in org chart\r\nExplicitly stated in both\r\nInferred from project context\r\nANALYSIS RULES\r\nStakeholder identification\r\n\r\nIdentify stakeholders from:\r\n\r\nproject sponsorship\r\nbusiness ownership\r\ndelivery ownership\r\nsubject matter expertise\r\napprovals and governance\r\ntechnical dependencies\r\nlegal / compliance / security / risk implications\r\noperational ownership\r\nadoption or change impact\r\nsupport and sustainment\r\nvendors or external parties if relevant\r\nInfluence vs Authority\r\n\r\nBe especially careful not to confuse influence and authority.\r\n\r\nInfluence means:\r\n\r\nThe practical ability to shape project direction, priorities, decisions, timelines, adoption, or political outcomes.\r\n\r\nFormal Authority means:\r\n\r\nThe official right to approve, deny, direct, allocate resources, sign off, or govern.\r\n\r\nExamples:\r\n\r\nA project sponsor may have both high influence and high authority.\r\nA respected SME may have high influence but low formal authority.\r\nAn operations lead may have medium authority but high influence if handoff depends on them.\r\nRACI assignment\r\n\r\nDo not assign RACI casually.\r\nUse the project charter and org chart to infer who is:\r\n\r\nactually accountable\r\nactually responsible for delivery\r\nconsulted because their input is necessary\r\nmerely informed\r\nInclusion discipline\r\n\r\nDo not list everyone in the organization.\r\nOnly include stakeholders relevant to this project.\r\n\r\nCompleteness\r\n\r\nIf the project clearly implies missing stakeholder groups, include them when justified.\r\n\r\nExamples:\r\n\r\nsecurity if system/data risk is present\r\nlegal if contracts/regulatory exposure exists\r\noperations if implementation affects operational ownership\r\nfinance if budget, procurement, or ROI tracking is relevant\r\nchange/adoption stakeholders if behavior/process changes are needed\r\nQUALITY BAR\r\n\r\nYour output must be:\r\n\r\ncomprehensive but not bloated\r\ngrounded in the provided materials\r\nuseful for real project execution, not academic\r\nclear enough for a project manager or sponsor to use immediately\r\ncareful and explicit about influence and authority\r\nconservative in assigning “High” ratings\r\ninternally consistent in RACI logic\r\nformatted cleanly as HTML that will render well in a Google Doc\r\n\r\nStrong outputs will:\r\n\r\ndistinguish governance from execution cleanly\r\nidentify both primary and secondary stakeholders\r\navoid generic filler\r\nsurface likely hidden stakeholders that often get missed\r\nproduce a register that could be used directly in project planning\r\n\r\nWeak outputs will:\r\n\r\nconfuse influence with authority\r\noveruse High ratings\r\nassign RACI without evidence\r\ninclude irrelevant roles\r\ndescribe job titles instead of project relevance\r\noutput messy or overly complex HTML\r\nVALIDATION\r\n\r\nBefore responding, verify that:\r\n\r\nThe output is valid HTML only.\r\nThe output contains:\r\none <h1>\r\none <h2> notes section\r\none formatted <table>\r\nThe table includes all required columns in the correct order.\r\nEvery listed stakeholder is relevant to the project.\r\nInfluence Level and Formal Authority Level are assessed separately and thoughtfully.\r\nAt least one stakeholder has clear accountability where appropriate.\r\nRACI assignments are plausible and not contradictory.\r\nAny inferred stakeholders are clearly labeled as inferred.\r\nThe HTML is simple enough to render cleanly in a Google Doc created from HTML.\r\n\r\nNow produce the Stakeholder Register as HTML only.\r\n\r\n",
                "model": "gpt-5.2",
                "store": true,
                "format": {},
                "reasoning": {},
                "background": false,
                "truncation": "auto",
                "inputContentType": "text",
                "max_output_tokens": "10000",
                "createConversation": true,
                "parallel_tool_calls": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "Stakeholder Analysis Machine"
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-5.2 (system)The best model for coding and agentic tasks across industries"
                        },
                        "store": {
                            "mode": "chose"
                        },
                        "tools": {
                            "mode": "chose"
                        },
                        "format": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "include": {
                            "mode": "chose"
                        },
                        "metadata": {
                            "mode": "chose"
                        },
                        "reasoning": {
                            "nested": {
                                "effort": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "summary": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "background": {
                            "mode": "chose"
                        },
                        "truncation": {
                            "mode": "chose",
                            "label": "Auto"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "inputContentType": {
                            "mode": "chose",
                            "label": "Text prompt"
                        },
                        "context_management": {
                            "mode": "chose"
                        },
                        "createConversation": {
                            "mode": "chose"
                        },
                        "parallel_tool_calls": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "inputContentType",
                        "type": "select",
                        "label": "Prompt Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "file",
                                "prompt",
                                "items"
                            ]
                        }
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "integer",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Type",
                                    "options": [
                                        {
                                            "label": "File search",
                                            "value": "file_search",
                                            "nested": [
                                                {
                                                    "help": "The IDs of the vector stores to search.",
                                                    "name": "vector_store_ids",
                                                    "type": "select",
                                                    "label": "Vector Store IDs",
                                                    "options": "rpc://openai-gpt-3/1/getVectorStores",
                                                    "multiple": true,
                                                    "required": true,
                                                    "validate": {
                                                        "maxItems": 2
                                                    }
                                                },
                                                {
                                                    "help": "A filter to apply based on file attributes.",
                                                    "name": "filters",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Equals",
                                                                    "value": "eq",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Not equal",
                                                                    "value": "ne",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than",
                                                                    "value": "gt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Greater than or equal",
                                                                    "value": "gte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than",
                                                                    "value": "lt",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Less than or equal",
                                                                    "value": "lte",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The key to compare against the value.",
                                                                            "name": "key",
                                                                            "type": "text",
                                                                            "label": "Key",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The value to compare against the attribute key",
                                                                            "name": "value",
                                                                            "type": "any",
                                                                            "label": "Value",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [and]",
                                                                    "value": "and",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Compound filter [or]",
                                                                    "value": "or",
                                                                    "nested": [
                                                                        {
                                                                            "name": "filters",
                                                                            "spec": {
                                                                                "spec": [
                                                                                    {
                                                                                        "name": "type",
                                                                                        "type": "select",
                                                                                        "label": "Type",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Equals",
                                                                                                "value": "eq"
                                                                                            },
                                                                                            {
                                                                                                "label": "Not equal",
                                                                                                "value": "ne"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than",
                                                                                                "value": "gt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Greater than or equal",
                                                                                                "value": "gte"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than",
                                                                                                "value": "lt"
                                                                                            },
                                                                                            {
                                                                                                "label": "Less than or equal",
                                                                                                "value": "lte"
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The key to compare against the value.",
                                                                                        "name": "key",
                                                                                        "type": "text",
                                                                                        "label": "Key",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "The value to compare against the attribute key",
                                                                                        "name": "value",
                                                                                        "type": "any",
                                                                                        "label": "Value",
                                                                                        "required": true
                                                                                    }
                                                                                ],
                                                                                "type": "collection",
                                                                                "label": "Filter"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "Filters",
                                                                            "labels": {
                                                                                "add": "Add filter"
                                                                            },
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Filters"
                                                },
                                                {
                                                    "name": "max_num_results",
                                                    "type": "integer",
                                                    "label": "Max Results Number",
                                                    "validate": {
                                                        "max": 50,
                                                        "min": 1
                                                    }
                                                },
                                                {
                                                    "help": "Ranking options for search.",
                                                    "name": "ranking_options",
                                                    "spec": [
                                                        {
                                                            "help": "The ranker to use for the file search.",
                                                            "name": "ranker",
                                                            "type": "select",
                                                            "label": "Ranker",
                                                            "options": [
                                                                {
                                                                    "label": "auto",
                                                                    "value": "auto"
                                                                },
                                                                {
                                                                    "label": "default-2024-08-21",
                                                                    "value": "default-2024-08-21"
                                                                },
                                                                {
                                                                    "label": "default-2024-11-15",
                                                                    "value": "default-2024-11-15"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The score threshold for the file search. Numbers closer to `1` will attempt to return only the most relevant results, but may return fewer results.",
                                                            "name": "score_threshold",
                                                            "type": "number",
                                                            "label": "Score Threshold",
                                                            "validate": {
                                                                "max": 1,
                                                                "min": 0
                                                            }
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Ranking Options"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Function",
                                            "value": "function",
                                            "nested": [
                                                {
                                                    "help": "The name of the function to call.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "A JSON schema object describing the parameters of the function.",
                                                    "name": "parameters",
                                                    "type": "json",
                                                    "label": "Parameters",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Whether to enforce strict parameter validation.",
                                                    "name": "strict",
                                                    "type": "boolean",
                                                    "label": "Strict",
                                                    "default": true,
                                                    "required": true
                                                },
                                                {
                                                    "help": "A description of the function.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Computer use preview",
                                            "value": "computer_use_preview",
                                            "nested": [
                                                {
                                                    "help": "The height of the computer display.",
                                                    "name": "display_height",
                                                    "type": "number",
                                                    "label": "Display Height",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The width of the computer display.",
                                                    "name": "display_width",
                                                    "type": "number",
                                                    "label": "Display Width",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The type of computer environment to control.",
                                                    "name": "environment",
                                                    "type": "select",
                                                    "label": "Environment",
                                                    "options": [
                                                        {
                                                            "label": "Windows",
                                                            "value": "windows"
                                                        },
                                                        {
                                                            "label": "Mac",
                                                            "value": "mac"
                                                        },
                                                        {
                                                            "label": "Linux",
                                                            "value": "linux"
                                                        },
                                                        {
                                                            "label": "Browser",
                                                            "value": "browser"
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview",
                                            "value": "web_search_preview",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Web search preview (2025_03_11)",
                                            "value": "web_search_preview_2025_03_11",
                                            "nested": [
                                                {
                                                    "help": "High level guidance for the amount of context window space to use for the search. Medium is the default value.",
                                                    "name": "search_context_size",
                                                    "type": "select",
                                                    "label": "Search Context Size",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Approximate location parameters for the search.",
                                                    "name": "user_location",
                                                    "spec": [
                                                        {
                                                            "help": "The type of location approximation.",
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Approximate",
                                                                    "value": "approximate"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "help": "The city of the user, e.g. `San Francisco`.",
                                                            "name": "city",
                                                            "type": "text",
                                                            "label": "City"
                                                        },
                                                        {
                                                            "help": "The two-letter ISO country code of the user, e.g. `US`.",
                                                            "name": "country",
                                                            "type": "select",
                                                            "label": "Country",
                                                            "options": "rpc://openai-gpt-3/1/getCountryCodes"
                                                        },
                                                        {
                                                            "help": "The region of the user, e.g. `California`.",
                                                            "name": "region",
                                                            "type": "text",
                                                            "label": "Region"
                                                        },
                                                        {
                                                            "help": "The timezone of the user, e.g. `America/Los_Angeles`.",
                                                            "name": "timezone",
                                                            "type": "timezone",
                                                            "label": "Timezone"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User Location"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "MCP",
                                            "value": "mcp",
                                            "nested": [
                                                {
                                                    "text": "MCP requests will automatically be approved.",
                                                    "type": "banner",
                                                    "theme": "info"
                                                },
                                                {
                                                    "name": "require_approval",
                                                    "type": "hidden",
                                                    "label": "Require Approval",
                                                    "default": "never"
                                                },
                                                {
                                                    "help": "A label for this MCP server, used to identify it in tool calls.",
                                                    "name": "server_label",
                                                    "type": "text",
                                                    "label": "Server Label",
                                                    "required": true
                                                },
                                                {
                                                    "help": "The URL for the MCP server.",
                                                    "name": "server_url",
                                                    "type": "url",
                                                    "label": "Server URL",
                                                    "required": true
                                                },
                                                {
                                                    "help": "List of allowed tool names.",
                                                    "name": "allowed_tools",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Tool"
                                                    },
                                                    "type": "array",
                                                    "label": "Allowed Tools",
                                                    "labels": {
                                                        "add": "Add allowed tool"
                                                    }
                                                },
                                                {
                                                    "help": "Optional HTTP headers to send to the MCP server. Use for authentication or other purposes.",
                                                    "name": "headers",
                                                    "spec": {
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key"
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Header"
                                                    },
                                                    "type": "array",
                                                    "label": "Headers",
                                                    "labels": {
                                                        "add": "Add header"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Code interpreter",
                                            "value": "code_interpreter",
                                            "nested": [
                                                {
                                                    "help": "**Container**\nA container is a fully sandboxed virtual machine where the model runs Python code.\n\n**Expiration Time**\nContainers expire if unused for 20 minutes. The expiration timer is reset after any operation on the container.",
                                                    "name": "container_type",
                                                    "type": "select",
                                                    "label": "Container type",
                                                    "options": [
                                                        {
                                                            "label": "Use existing container",
                                                            "value": "existing_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "type": "select",
                                                                    "label": "Container",
                                                                    "options": {
                                                                        "store": "rpc://openai-gpt-3/1/getContainers"
                                                                    },
                                                                    "mappable": {
                                                                        "help": "Map the container ID. For example: `cntr_6878d51b5ffc8191b7c32c11c747cf4e`."
                                                                    },
                                                                    "required": true
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Create new container",
                                                            "value": "new_container",
                                                            "nested": [
                                                                {
                                                                    "name": "container",
                                                                    "spec": [
                                                                        {
                                                                            "help": "An optional list of uploaded files to make available to your code.",
                                                                            "name": "file_ids",
                                                                            "spec": {
                                                                                "type": "select",
                                                                                "label": "File ID",
                                                                                "options": "rpc://openai-gpt-3/1/getFiles"
                                                                            },
                                                                            "type": "array",
                                                                            "label": "File IDs",
                                                                            "labels": {
                                                                                "add": "Add file ID"
                                                                            }
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Container"
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "required": true
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Image generation",
                                            "value": "image_generation",
                                            "nested": [
                                                {
                                                    "help": "Background type for the generated image.",
                                                    "name": "background",
                                                    "type": "select",
                                                    "label": "Background",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Transparent",
                                                            "value": "transparent"
                                                        },
                                                        {
                                                            "label": "Opaque",
                                                            "value": "opaque"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Controls how much effort the model will exert to match the style and features of input images, especially facial features.",
                                                    "name": "input_fidelity",
                                                    "type": "select",
                                                    "label": "Input Fidelity",
                                                    "options": [
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "Optional mask for inpainting.",
                                                    "name": "input_image_mask",
                                                    "spec": [
                                                        {
                                                            "name": "mask_input_type",
                                                            "type": "select",
                                                            "label": "Mask Input Type",
                                                            "options": [
                                                                {
                                                                    "label": "File ID",
                                                                    "value": "id",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The ID of the file to be sent to the model.",
                                                                            "name": "file_id",
                                                                            "type": "select",
                                                                            "label": "File ID",
                                                                            "options": "rpc://openai-gpt-3/1/getFiles",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "label": "Image URL",
                                                                    "value": "url",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The URL of the image to be sent to the model.",
                                                                            "name": "image_url",
                                                                            "type": "url",
                                                                            "label": "Image URL",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Input Image Mask"
                                                },
                                                {
                                                    "help": "Moderation level for the generated image.",
                                                    "name": "moderation",
                                                    "type": "select",
                                                    "label": "Moderation",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The output format of the generated image.",
                                                    "name": "output_format",
                                                    "type": "select",
                                                    "label": "Output Format",
                                                    "options": [
                                                        {
                                                            "label": "PNG",
                                                            "value": "png"
                                                        },
                                                        {
                                                            "label": "WEBP",
                                                            "value": "webp",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "JPEG",
                                                            "value": "jpeg",
                                                            "nested": [
                                                                {
                                                                    "help": "Compression level for the output image.",
                                                                    "name": "output_compression",
                                                                    "type": "number",
                                                                    "label": "Output Compression",
                                                                    "validate": {
                                                                        "max": 100,
                                                                        "min": 0
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The quality of the generated image.",
                                                    "name": "quality",
                                                    "type": "select",
                                                    "label": "Quality",
                                                    "options": [
                                                        {
                                                            "label": "Auto",
                                                            "value": "auto"
                                                        },
                                                        {
                                                            "label": "Low",
                                                            "value": "low"
                                                        },
                                                        {
                                                            "label": "Medium",
                                                            "value": "medium"
                                                        },
                                                        {
                                                            "label": "High",
                                                            "value": "high"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "help": "The size of the generated image.",
                                                    "name": "size",
                                                    "type": "select",
                                                    "label": "Size",
                                                    "options": [
                                                        {
                                                            "label": "1024x1024",
                                                            "value": "1024x1024"
                                                        },
                                                        {
                                                            "label": "1024x1536",
                                                            "value": "1024x1536"
                                                        },
                                                        {
                                                            "label": "1536x1024",
                                                            "value": "1536x1024"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Custom",
                                            "value": "custom",
                                            "nested": [
                                                {
                                                    "help": "The name of the custom tool, used to identify it in tool calls, for example: `abc`, `abc_defg`.",
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name",
                                                    "required": true
                                                },
                                                {
                                                    "help": "Description of the custom tool, used to provide more context.",
                                                    "name": "description",
                                                    "type": "text",
                                                    "label": "Description"
                                                },
                                                {
                                                    "name": "format",
                                                    "spec": [
                                                        {
                                                            "name": "type",
                                                            "type": "select",
                                                            "label": "Type",
                                                            "options": [
                                                                {
                                                                    "label": "Text",
                                                                    "value": "text"
                                                                },
                                                                {
                                                                    "label": "Grammar",
                                                                    "value": "grammar",
                                                                    "nested": [
                                                                        {
                                                                            "help": "The syntax of the grammar definition.",
                                                                            "name": "syntax",
                                                                            "type": "select",
                                                                            "label": "Syntax",
                                                                            "options": [
                                                                                {
                                                                                    "label": "Lark",
                                                                                    "value": "lark"
                                                                                },
                                                                                {
                                                                                    "label": "Regex",
                                                                                    "value": "regex"
                                                                                }
                                                                            ],
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The grammar definition.",
                                                                            "name": "definition",
                                                                            "type": "text",
                                                                            "label": "Definition",
                                                                            "required": true
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Format"
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Tool"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required",
                                "file_search",
                                "web_search_preview",
                                "computer_use_preview",
                                "code_interpreter",
                                "function",
                                "custom",
                                "allowed_tools"
                            ]
                        }
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Run in Background"
                    },
                    {
                        "name": "context_management",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Context entry type",
                                    "options": [
                                        {
                                            "label": "Compaction",
                                            "value": "compaction",
                                            "nested": [
                                                {
                                                    "help": "The threshold for compacting the context. When the number of tokens in the context exceeds this threshold, the context will be compacted to reduce token usage. See [OpenAI compaction guide](https://developers.openai.com/api/docs/guides/compaction#server-side-compaction).",
                                                    "name": "compact_threshold",
                                                    "type": "integer",
                                                    "label": "Compact threshold",
                                                    "validate": {
                                                        "min": 1000
                                                    }
                                                }
                                            ]
                                        }
                                    ],
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Context entry"
                        },
                        "type": "array",
                        "label": "Context management"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "createConversation",
                        "type": "boolean",
                        "label": "Create a new conversation",
                        "required": true
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "instructions",
                        "type": "text",
                        "label": "Instructions"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "select",
                                "label": "Effort",
                                "validate": {
                                    "enum": [
                                        "none",
                                        "minimal",
                                        "low",
                                        "medium",
                                        "high",
                                        "xhigh"
                                    ]
                                }
                            },
                            {
                                "name": "summary",
                                "type": "select",
                                "label": "Summary",
                                "validate": {
                                    "enum": [
                                        "auto",
                                        "concise",
                                        "detailed"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "format",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Type",
                                "validate": {
                                    "enum": [
                                        "text",
                                        "json_schema",
                                        "json_object"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Output Format"
                    },
                    {
                        "name": "truncation",
                        "type": "select",
                        "label": "Truncation",
                        "validate": {
                            "enum": [
                                "auto",
                                "disabled"
                            ]
                        }
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Include",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "file_search_call.results",
                                "code_interpreter_call.outputs",
                                "message.input_image.image_url",
                                "computer_call_output.output.image_url"
                            ]
                        }
                    },
                    {
                        "name": "metadata",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Metadata"
                        },
                        "type": "array",
                        "label": "Metadata"
                    },
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Prompt"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "conversationId",
                        "type": "text",
                        "label": "Conversation ID"
                    },
                    {
                        "name": "raw_result",
                        "type": "any",
                        "label": "Raw Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created_at",
                        "type": "date",
                        "label": "Created at"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "background",
                        "type": "boolean",
                        "label": "Background"
                    },
                    {
                        "name": "billing",
                        "spec": [
                            {
                                "name": "payer",
                                "type": "text",
                                "label": "Payer"
                            }
                        ],
                        "type": "collection",
                        "label": "Billing"
                    },
                    {
                        "name": "error",
                        "type": "text",
                        "label": "Error"
                    },
                    {
                        "name": "max_tool_calls",
                        "type": "number",
                        "label": "Max Tool Calls"
                    },
                    {
                        "name": "top_logprobs",
                        "type": "number",
                        "label": "Top Logprobs"
                    },
                    {
                        "name": "incomplete_details",
                        "spec": [
                            {
                                "name": "reason",
                                "type": "text",
                                "label": "Reason"
                            }
                        ],
                        "type": "collection",
                        "label": "Incomplete Details"
                    },
                    {
                        "name": "instructions",
                        "type": "any",
                        "label": "Instructions"
                    },
                    {
                        "name": "max_output_tokens",
                        "type": "number",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "output",
                        "spec": [
                            {
                                "name": "input",
                                "type": "text",
                                "label": "Input"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "server_label",
                                "type": "text",
                                "label": "Server Label"
                            },
                            {
                                "name": "background",
                                "type": "text",
                                "label": "Background"
                            },
                            {
                                "name": "moderation",
                                "type": "text",
                                "label": "Moderation"
                            },
                            {
                                "name": "n",
                                "type": "number",
                                "label": "N"
                            },
                            {
                                "name": "output_compression",
                                "type": "number",
                                "label": "Output compression"
                            },
                            {
                                "name": "output_format",
                                "type": "text",
                                "label": "Output format"
                            },
                            {
                                "name": "quality",
                                "type": "text",
                                "label": "Quality"
                            },
                            {
                                "name": "size",
                                "type": "text",
                                "label": "Size"
                            },
                            {
                                "name": "revised_prompt",
                                "type": "text",
                                "label": "Revised Prompt"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name",
                                "semantic": "file:name"
                            },
                            {
                                "name": "filedata",
                                "type": "buffer",
                                "label": "File data",
                                "semantic": "file:data"
                            },
                            {
                                "name": "encrypted_content",
                                "type": "text",
                                "label": "Encrypted content"
                            },
                            {
                                "name": "tools",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "annotations",
                                            "type": "text",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "description",
                                            "type": "text",
                                            "label": "Description"
                                        },
                                        {
                                            "name": "input_schema",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "properties",
                                                    "spec": [
                                                        {
                                                            "name": "query",
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "text",
                                                                    "label": "Type"
                                                                },
                                                                {
                                                                    "name": "description",
                                                                    "type": "text",
                                                                    "label": "Description"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Query"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Properties"
                                                },
                                                {
                                                    "name": "required",
                                                    "spec": {
                                                        "type": "text"
                                                    },
                                                    "type": "array",
                                                    "label": "Required"
                                                },
                                                {
                                                    "name": "additionalProperties",
                                                    "type": "boolean",
                                                    "label": "Additional Properties"
                                                },
                                                {
                                                    "name": "$schema",
                                                    "type": "text",
                                                    "label": "Schema"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Schema"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "container",
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Container"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Tools"
                            },
                            {
                                "name": "approval_request_id",
                                "type": "text",
                                "label": "Approval Request ID"
                            },
                            {
                                "name": "error",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "content",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "annotations",
                                                    "type": "text",
                                                    "label": "Annotations"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Content"
                                    }
                                ],
                                "type": "collection",
                                "label": "Error"
                            },
                            {
                                "name": "output",
                                "type": "text",
                                "label": "Output"
                            },
                            {
                                "name": "status",
                                "type": "text",
                                "label": "Status"
                            },
                            {
                                "name": "queries",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Queries"
                            },
                            {
                                "name": "results",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "attributes",
                                            "type": "collection",
                                            "label": "Attributes"
                                        },
                                        {
                                            "name": "file_id",
                                            "type": "text",
                                            "label": "File ID"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "score",
                                            "type": "number",
                                            "label": "Score"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Results"
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": "Role"
                            },
                            {
                                "name": "call_id",
                                "type": "text",
                                "label": "Call ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "arguments",
                                "type": "text",
                                "label": "Arguments"
                            },
                            {
                                "name": "summary",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "type": "array",
                                "label": "Summary"
                            },
                            {
                                "name": "content",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Text"
                                        },
                                        {
                                            "name": "annotations",
                                            "spec": {
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "text",
                                                        "label": "Type"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    },
                                                    {
                                                        "name": "end_index",
                                                        "type": "uinteger",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "uinteger",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "file_id",
                                                        "type": "text",
                                                        "label": "File ID"
                                                    },
                                                    {
                                                        "name": "filename",
                                                        "type": "text",
                                                        "label": "File name"
                                                    },
                                                    {
                                                        "name": "index",
                                                        "type": "uinteger",
                                                        "label": "Index"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "container_id",
                                                        "type": "text",
                                                        "label": "Container ID"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            "type": "array",
                                            "label": "Annotations"
                                        },
                                        {
                                            "name": "logprobs",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "Logprobs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Content"
                            },
                            {
                                "name": "code",
                                "type": "text",
                                "label": "Code"
                            },
                            {
                                "name": "container_id",
                                "type": "text",
                                "label": "Container ID"
                            },
                            {
                                "name": "outputs",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "text",
                                            "label": "Filename",
                                            "semantic": "file:name"
                                        },
                                        {
                                            "name": "filedata",
                                            "type": "buffer",
                                            "label": "Data",
                                            "semantic": "file:data"
                                        },
                                        {
                                            "name": "url",
                                            "type": "text",
                                            "label": "Base64 data URL"
                                        },
                                        {
                                            "name": "logs",
                                            "type": "text",
                                            "label": "Logs"
                                        }
                                    ],
                                    "type": "collection"
                                },
                                "type": "array",
                                "label": "Outputs"
                            }
                        ],
                        "type": "array",
                        "label": "Output"
                    },
                    {
                        "name": "parallel_tool_calls",
                        "type": "boolean",
                        "label": "Parallel Tool Calls"
                    },
                    {
                        "name": "previous_response_id",
                        "type": "text",
                        "label": "Previous Response ID"
                    },
                    {
                        "name": "prompt",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "variables",
                                "type": "array",
                                "label": "Variables"
                            },
                            {
                                "name": "version",
                                "type": "text",
                                "label": "Version"
                            }
                        ],
                        "type": "collection",
                        "label": "Prompt"
                    },
                    {
                        "name": "reasoning",
                        "spec": [
                            {
                                "name": "effort",
                                "type": "text",
                                "label": "Effort"
                            },
                            {
                                "name": "summary",
                                "type": "text",
                                "label": "Summary"
                            }
                        ],
                        "type": "collection",
                        "label": "Reasoning"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "store",
                        "type": "boolean",
                        "label": "Store"
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature"
                    },
                    {
                        "name": "text",
                        "spec": [
                            {
                                "name": "format",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "schema",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "properties",
                                                "type": "collection",
                                                "label": "Properties"
                                            },
                                            {
                                                "name": "additionalProperties",
                                                "type": "boolean",
                                                "label": "Additional Properties"
                                            },
                                            {
                                                "name": "required",
                                                "type": "array",
                                                "label": "Required"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Schema"
                                    },
                                    {
                                        "name": "strict",
                                        "type": "boolean",
                                        "label": "Strict"
                                    }
                                ],
                                "type": "collection",
                                "label": "Format"
                            },
                            {
                                "name": "verbosity",
                                "type": "text",
                                "label": "Verbosity"
                            }
                        ],
                        "type": "collection",
                        "label": "Text"
                    },
                    {
                        "name": "tool_choice",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "mode",
                                "type": "text",
                                "label": "Mode"
                            },
                            {
                                "name": "tools",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "server_label",
                                        "type": "text",
                                        "label": "Server Label"
                                    }
                                ],
                                "type": "array",
                                "label": "Tools"
                            }
                        ],
                        "type": "collection",
                        "label": "Tool Choice"
                    },
                    {
                        "name": "tools",
                        "spec": {
                            "spec": [
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "search_context_size",
                                    "type": "text",
                                    "label": "Search Context Size"
                                },
                                {
                                    "name": "user_location",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "city",
                                            "type": "text",
                                            "label": "City"
                                        },
                                        {
                                            "name": "country",
                                            "type": "text",
                                            "label": "Country"
                                        },
                                        {
                                            "name": "region",
                                            "type": "text",
                                            "label": "Region"
                                        },
                                        {
                                            "name": "timezone",
                                            "type": "timezone",
                                            "label": "Timezone"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "User Location"
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description"
                                },
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "allowed_tools",
                                    "type": "text",
                                    "label": "Allowed Tools"
                                },
                                {
                                    "name": "headers",
                                    "type": "collection",
                                    "label": "Headers"
                                },
                                {
                                    "name": "require_approval",
                                    "type": "text",
                                    "label": "Require Approval"
                                },
                                {
                                    "name": "server_label",
                                    "type": "text",
                                    "label": "Server Label"
                                },
                                {
                                    "name": "server_url",
                                    "type": "url",
                                    "label": "Server URL"
                                },
                                {
                                    "name": "parameters",
                                    "type": "collection",
                                    "label": "Parameters"
                                },
                                {
                                    "name": "strict",
                                    "type": "boolean",
                                    "label": "Strict"
                                },
                                {
                                    "name": "filters",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Filters"
                                },
                                {
                                    "name": "max_num_results",
                                    "type": "number",
                                    "label": "Max Results Number"
                                },
                                {
                                    "name": "ranking_options",
                                    "spec": [
                                        {
                                            "name": "ranker",
                                            "type": "text",
                                            "label": "Ranker"
                                        },
                                        {
                                            "name": "score_threshold",
                                            "type": "number",
                                            "label": "Score Threshold"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Ranking Options"
                                },
                                {
                                    "name": "vector_store_ids",
                                    "spec": {
                                        "type": "text"
                                    },
                                    "type": "array",
                                    "label": "Vector Store IDs"
                                },
                                {
                                    "name": "container",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "file_ids",
                                            "spec": {
                                                "type": "text"
                                            },
                                            "type": "array",
                                            "label": "File ids"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Container"
                                },
                                {
                                    "name": "format",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "definition",
                                            "type": "text",
                                            "label": "Definition"
                                        },
                                        {
                                            "name": "syntax",
                                            "type": "text",
                                            "label": "Syntax"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Format"
                                },
                                {
                                    "name": "background",
                                    "type": "text",
                                    "label": "Background"
                                },
                                {
                                    "name": "moderation",
                                    "type": "text",
                                    "label": "Moderation"
                                },
                                {
                                    "name": "n",
                                    "type": "number",
                                    "label": "N"
                                },
                                {
                                    "name": "output_compression",
                                    "type": "number",
                                    "label": "Output compression"
                                },
                                {
                                    "name": "output_format",
                                    "type": "text",
                                    "label": "Output format"
                                },
                                {
                                    "name": "quality",
                                    "type": "text",
                                    "label": "Quality"
                                },
                                {
                                    "name": "size",
                                    "type": "text",
                                    "label": "Size"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Tools"
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P"
                    },
                    {
                        "name": "truncation",
                        "type": "text",
                        "label": "Truncation"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "input_tokens",
                                "type": "number",
                                "label": "Input Tokens"
                            },
                            {
                                "name": "input_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "number",
                                        "label": "Cached Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Input Tokens Details"
                            },
                            {
                                "name": "output_tokens",
                                "type": "number",
                                "label": "Output Tokens"
                            },
                            {
                                "name": "output_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "number",
                                        "label": "Reasoning Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Output Tokens Details"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "user",
                        "type": "text",
                        "label": "User"
                    },
                    {
                        "name": "metadata",
                        "type": "collection",
                        "label": "Metadata"
                    },
                    {
                        "name": "prompt_cache_key",
                        "type": "text",
                        "label": "Prompt Cache Key"
                    },
                    {
                        "name": "safety_identifier",
                        "type": "text",
                        "label": "Safety Identifier"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "google-docs:createADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 6428615
            },
            "mapper": {
                "name": "Stakeholder Register",
                "footer": false,
                "header": false,
                "content": "{{9.result}}",
                "folderId": "/1wjy_gg6hkb0JKoN1Sg38EfG77n_Jcjs3",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Stakeholder Analysis"
                },
                "restore": {
                    "expect": {
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "AI BA Training"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "header",
                        "type": "boolean",
                        "label": "Insert a Header",
                        "required": true
                    },
                    {
                        "name": "footer",
                        "type": "boolean",
                        "label": "Insert a Footer",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}